/* Estilo geral da página */
body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%); /* Gradiente de fundo */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do contêiner principal do formulário */
.container {
    max-width: 400px;
    width: 90%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    text-align: center;
}

/* Estilo do título */
.container h1 {
    color: #5f27cd; 
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilo dos rótulos e campos do formulário */
form label {
    display: block;
    text-align: left;
    margin-top: 15px;
    color: #333;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

/* Efeito de foco nos campos do formulário */
form input:focus, form select:focus {
    border-color: #5f27cd;
    outline: none;
}

/*botão */
form button {
    background-color: #5f27cd;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para o hover */
    margin-top: 20px;
    border: none;
}

/* Efeito de mouse */
form button:hover {
    background-color: #4a1eab;
}
